<%- include('../partials/header.ejs') %>  


<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="writing text-center">
    <h1>Welcome to ReadOnRepeat</h1>
    <p>Your personal diary for all books read!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
